.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw
data
output_climwin_temp
output_climwin_precip
output_SEM_temp
output_SEM_precip
output_forSEM_temp
output_forSEM_precip
output_overall
output_fSEM_noDD_temp
output_fSEM_precip
output_fSEM_noDD_precip
output_all
output_all_noPval
output_all_noDD
output_fSEM_temp
output_all_simpleSEM
output_fSEM_precip_simpleSEM
output_fSEM_noDD_precip_simpleSEM
output_all_noDD_simpleSEM
output_SEM_all
output_nonL
plots_ms
output_all_simpleSEM_PThresh
output_all_simpleSEM_check
scripts
.DS_Store
./inst/extdata/tg_ens_mean_0.1deg_reg_v18.0e.nc
tables
