.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw
output_climwin_temp
output_climwin_precip
output_climwin_monthly
output_climwin_daily
output_SEM_temp
output_SEM_precip
output_forSEM_monthly
output_climwin_temp_us
output_climwin_precip_us
output_forSEM_temp
output_forSEM_precip
output_meta
.DS_Store
